body {font-family: 'Big Shoulders Stencil Display', cursive;}
span {background-color:#029E14;}
h1 {background-color:#029E14;
  font-weight:400;}
p {font-size:30px;}
main img {height:30%;
width:30%;}
footer img {height:30%;
width:30%;}
